<h3>RadioButtonGroup</h3>

@for(int i = 0; i < RadioModel.radioOptions.Count; i++)
{
    <input @onclick="SelectedRadioButton" type="radio" id="@RadioModel.radioOptions[i]" name="radio_list" bind-@RadioModel.SelectedValue="@RadioModel.radioOptions[i]">
    <label for="@RadioModel.radioOptions[i]">@RadioModel.radioOptions[i]</label>
    <br>
}


@code {
    [Parameter][Required] public RadioButtonGroupModel RadioModel { get; set; }

    public void SelectedRadioButton()
    {
        Console.WriteLine(RadioModel);
    }
}