<h3>Tab7</h3>
<RadioButtonGroup RadioButtonGroupModel="@tab7Model.Tab7DistanceRadioButtonGroupModel"></RadioButtonGroup>

@code {
    [Required]
    private Tab7Model tab7Model { get; set; } = new();
}
