<div>
    <input type="checkbox" disabled="@Controller.IsDisabled" @bind="Controller.IsChecked"/>
    @Controller.Label
</div>

@code {
    [Parameter] public CheckBoxController Controller { get; set; }
}