@rendermode InteractiveServer

<div>
    <input type="checkbox" @bind="Controller.IsChecked" @attributes="AdditionalAttributes" />
    @Controller.Label
</div>

@code {
    [Parameter] public CheckBoxController Controller { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object> AdditionalAttributes { get; set; }
}