<div class="row">
    <div class="col-6">
        <label for="value" hidden="@Controller.IsDisabled">@Controller.ParameterName</label>
    </div>
    <div class="col-6">
        <input id="value" type="text" @bind="Controller.ParameterValue" class="form-control" hidden="@Controller.IsDisabled"/>
    </div>
</div>

@code {
    [Parameter] [Required] public SetValueForParameterController Controller { get; set; }
}